<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}">Formulario</title>
    <!-- Agregar los archivos CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container mt-4">

    <h1 class="text-primary border-bottom border-success" th:text="${titulo}"></h1>

    <!-- Mostrar lista de errores de validación -->
    <div th:object="${dynamicForm.obj}">
        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
        </ul>
    </div>

    <!-- Formulario dinámico -->
    <form action="#" th:action="@{${dynamicForm.returnUrl}}" th:object="${dynamicForm.obj}" method="post">
        <div th:each="field, fieldStat : ${dynamicForm.fields}">
            <label th:for="${field.name}" th:text="${field.label}"></label>
            <input th:field="*{__${fieldStat.current.name}__}"
                   th:type="${field.type}"
                   th:id="${field.name}"/>
        </div>
        <button type="submit">Enviar</button>
    </form>

    <!-- Scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
</body>
</html>
